.target {
    display: none;
}
.center {
    text-align: center;
}
.centerUnderline {
    text-align: center;
    text-decoration-line: underline;
}
.post {
    display: flex;
    align-items: center;
}
body {
  margin: 25px;
  background-color: #bdbdbb;
  font-family: arial, sans-serif;
  font-size: 14px;
}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header {
    text-align: center;
    background-color: #5c5c4d;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
}
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
  color: rgb(255,255,255);
}
h2 {
  font-size: 25px;
  font-weight: normal;
  margin-top: 5px;
  color: white;
  background-color: #5c5c4d;
  width: 100%;
  text-align: center;
}
h3 {
  font-weight: normal;
  margin-top: 5px;
  color: #5c5c4d;
}
h4 {
  font-weight: normal;
  margin-top: 5px;
  color: #5c5c4d;
}
footer {
  position: relative;
  margin-top: 0px;
  /* negative value of footer height */
  height: 100px;
  width: 100%;
  background-color:#5c5c4d;
  color: white;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.footerBGC {
    background-color:#5c5c4d;
}
.curveTop {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.curveTopBot {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
figure {
    color: #5c5c4d;
    font-size: 20px;
    font-weight: normal;
}
figcaption {
    color: #5c5c4d;
    font-size: 20px;
    font-weight: normal;
}

.centerImg {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
p {
    color: #5c5c4d;
    font-size: 20px;
    font-weight: normal;
    padding: 15px;
}
.backColor {
    background-image: linear-gradient(to right, #C6887B, #E8B7AD);
}
.backColor2 {
    background-image: linear-gradient(to right, #C6887B, #E8B7AD);
}
.pBG {
    color: #5c5c4d;
    text-align: center;
    font-size: 20px;
    font-weight: normal;

}
#colorsForHTMLGUIDE {
    color: #5c5c4d;
    text-align: center;
}
#colorsForCSSGUIDE {
    color: #5c5c4d;
    text-align: center;
}
ul {
    color: #5c5c4d;
    font-size: 20px;
    font-weight: normal;
}
.navMenu .dot {
  width: 6px;
  height: 6px;
  background: rgb(0,0,153);
  color: white;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
#design {
    background-image: linear-gradient(to right, #C6887B, #E8B7AD);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#creative {
    /* background-image: linear-gradient(to right, #EBCE52, #F3E29A); */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#design2 {
    background-image: linear-gradient(to right, #C6887B, #E8B7AD);
}
#creative2 {
    background-image: linear-gradient(to right, #EBCE52, #F3E29A);
}
.white { color: white; }
#switchHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    background-color: #5c5c4d;
    width: 100%;
}
#contact {
    text-align: center;
}

#contact3 {
    text-align: center;
}
#contact2 {
    text-align: center;
}
.accordion h3 {
      cursor: pointer;
      padding: 10px;
      background-color: #eee;
      border: 1px solid #ccc;
      margin-bottom: 5px;
    }

    .accordion h3.active {
      background-color: #ddd;
    }

    .accordion div {
      display: none;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #fff;
    }
