/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 25px;
  background-color: rgb(179, 217, 240);
  font-family: arial, sans-serif;
  font-size: 14px;
}

header {
    background-color: blue;
    color: rgb(0, 102, 153);
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
  color: white;
}

h2 {
    color: blue;
}

/* Applies using id="pID" */

h3 {
    color: blue;
}

h4 {
    color: white;
}

h5 {
    color: blue;
}
p {
    color: rgb(0, 102, 153);
}

/* Applies to the element with <... id="someid"> specified. */
#someid { color: blue; }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}

tbody tr:nth-child(odd) td{
    background-color: #999;
    color: #fff;
}
tbody tr:nth-child(even) td{
    background-color: #777;
    color: #fff;
}
