<header>
    <h1>How to Create a Hippo Website</h1>
    <div class="white" id="myNavBar">
        <a href="index.html">Home</a> |
        <a href="guideHTML.html">Guide HTML</a> |
        <a href="guideCSSJava.html">Guide CSS/Javascript</a> |
        <a href="creative.html">Creative</a> |
        <a href="contact.html">Contact</a>
    </div>
    <figure>
        <img src="https://media.springernature.com/full/springer-static/image/art%3A10.1038%2Fs41569-021-00602-8/MediaObjects/41569_2021_602_Figa_HTML.png" height="200" width="550" alt="HTMLCat.">
    </figure>
    <link rel="stylesheet" type="text/css" href="styles/design.css">
</header>
