<head>
    <h1>How to Create a Hippo Website</h1>
    <nav id="white">
        <a href="index.html">Home</a> |
        <a href="creative.html">Creative</a>
        <div class="dot"></div>
    </nav>
    <figure>
        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--eXRLFXWn--/c_imagga_scale,f_auto,fl_progressive,h_500,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/tphlx9jmote7qma454g4.png" height="200" width="550" alt="HTMLCat.">
    </figure>
    <link rel="stylesheet" type="text/css" href="styles/design.css">
</head>
