<header>
    <h1>Braxton Haight's Blissful Hippo | 3135-091</h1>
    <nav id="white">
        <a href="index.html">Introduction</a> |
        <a href="tables.html">Tables</a> |
        <a href="forms.html">Forms</a> |
        <a href="website_evaluations.html">Website Evaluations</a> |
        <a href="firstscripts.html">First Java Scripts</a> |
        <a href="polygons.html">Polygons</a> |
        <a href="calculator_try.html">Calculator</a> |
        <a href="arrays.html">Arrays</a> |
        <a href="slideshow.html">Slideshow</a> |
        <a href="imageSwap.html">Image Swap</a> |
        <a href="accordian.html">Accordian</a> |
        <a href="carousel.html">Carousel</a> |
        <a href="haight-activity13.html">Ajax</a> |
        <a href="haight-activity14.html">Speaker</a> |
        <a href="haight-activity15.html">Extended</a> |
        <a href="project_rand.html">Project Design</a>
        <div class="dot"></div>
    </nav>
    <img src="https://se-images-blob.campuslabs.com/communities/32/coverphotos/cdb8aa26-ac61-4b83-8ee3-7315ec6c0e35.jpg" height="200" width="700" alt="UNCC campus.">
</header>
